* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* body{
    background-image: linear-gradient(to right,#d9f39d,#f7caca);
} */
header{
    
    display: inline-block;
    width: 100%;
    background-image: linear-gradient(to right, #eb915d, #f7f46c);
    text-align: center;
    align-items: center;
    border-bottom: red solid 3px;
}
#logo{
    max-height: 80px;
    max-width: 80px;
    padding: 5px;
    text-align: center;
    margin: 0 auto;

}
h1 {
    text-align: center;
    padding: 15px;
    color: #213be9;
    font-size: 1.7em;
    text-align: center;
    margin: 0 auto;
    
    
}
h3 {
    text-align: center;
    color: black;
    padding: 5px;
    font-size: 1em;
    background-image: linear-gradient(to right, #f7f46c, #eb915d);
    margin-bottom: 25px;
    border-bottom: red solid 3px;
}

#contenedor-carrito{
    text-align: right;
    display: flex;
    margin-bottom: 10px;
    align-items: right;
    margin-left: 90%;
}
#carrito{
    height: 35px;
    cursor: pointer;
    text-align: right;
   
}
#contadorArticulosCarrito{
    border:darkgreen solid 1px;
    border-radius: 100%;
    color: darkgreen;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    padding: 5px;
    text-align: right;
}
#area-busqueda {
    display: flex;
    text-align: center;
    padding: 30px;
    margin: 0 auto;
    margin-right: 0%;
}

#busqueda {
    display: flex;
    text-align: center;
    padding: 30px;
    margin: 0 auto;

}

#input-busqueda {
    height: 40px;
    width: 350px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#lupa {
    height: 35px;
    position: absolute;
    margin: 0 315px;
    cursor: pointer;
    margin-top: 3px;
}

.salir-busqueda {
    width: 150px;
    height: 40px;
    opacity: 0.5;
    pointer-events: none;
    color: bisque;
    background-color: #5468eb;
    font-size: 1em;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 3px;
    border: none;
}

.salir-busqueda2 {
    width: 150px;
    height: 40px;
    cursor: pointer;
    color: bisque;
    background-color: #5468eb;
    font-size: 1em;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 3px;
    border: none;
}

#articulos {
    text-align: center;
    object-position: center;
    margin-left: 10px;
}

#productos {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
}

article {
    text-align: center;
    padding: 15px;
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    border:rgba(247, 183, 193, 0.37) solid 1px;
}

h4 {
    margin: 0 auto;
    text-align: center;
    color: black;
    padding: 5px;
    width: auto;
    display: block;
}

h5 {
    margin: 0 auto;
    text-align: center;
    color: rgb(189, 3, 3);
    padding: 5px;
    width: auto;
    display: block;
}

#agregar {
    text-align: center;
    border: 2px solid red;
    border-radius: 15px;
    padding: 10px;
    height: 100%;
    width: 350px;
    display: block;
    margin: 0 auto;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: #f8cab4;
}

.agregar {
    pointer-events: none;
    opacity: 0.5;
}

/* input[type=button] */
.boton {
    height: 35px;
    width: 100px;
    color: bisque;
    background-color: #5468eb;
    font-size: 1em;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 3px;
    border: none;
    cursor: pointer;

}
.agregar2 {
    text-align: center;
    margin: 0 auto;
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-align: center;
    transition: transform 0.2s;
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -ms-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    margin-left: 3px;
}
.agregar2:hover {
    transform: scale(125%);
    -webkit-transform: scale(125%);
    -moz-transform: scale(125%);
    -ms-transform: scale(125%);
    -o-transform: scale(125%);
}
#cont-tacho {
    margin: 0 auto;
    display: inline-block;
}

.tacho {
    text-align: center;
    margin: 0 auto;
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-align: center;
    transition: transform 0.2s;
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -ms-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    margin-left: 3px;
}

.tacho:hover {
    transform: scale(120%);
    -webkit-transform: scale(120%);
    -moz-transform: scale(120%);
    -ms-transform: scale(120%);
    -o-transform: scale(120%);
}

.cont-imagen {
    margin: 0 auto;
}

.imagen {
    margin: 0 auto;
    text-align: center;
    max-width: 300px;
    min-width: 100px;
    height: 200px;
}