* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contenedor-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(79,79,79,0.7);
    z-index: 1;
    transition: visibility 0.7s linear, opacity 0.7s linear;
    -webkit-transition: visibility 0.7s linear, opacity 0.7s linear;
    -moz-transition: visibility 0.7s linear, opacity 0.7s linear;
    -ms-transition: visibility 0.7s linear, opacity 0.7s linear;
    -o-transition: visibility 0.7s linear, opacity 0.7s linear;
    visibility: hidden;
    opacity: 0;
}
.contenedor2-modal{
    width: 650px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    border: solid 4px darkslategrey;
}
.contenedor2-modal h2{
    width: 100%;
    padding: 5px;
    background-color: black;
    border-radius: 8px;
    font-size: 25px;
    font-weight: 500;
    color: white;
    text-align: center;
}
.contenedor2-modal img{
    max-width: 100px;
    max-height: 100px;
    margin: 3px 0;
}
.contenedor2-modal p{
    font-size: 15px;
    font-weight: 400px;
    margin-bottom: 20px;
}
.close{
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 8px;
    background-color: green;
    cursor: pointer;
}
.close:hover{
    background-color: rgb(114, 182, 12);
}

.tabla{
    display: block;
    max-width: 100%;
    margin: 8px auto;
    overflow-y: auto;
    max-height: 400px;
    text-align: center;
}

th,
td {
    width: auto;
    border-collapse: collapse;
    border: 1px solid;
    text-align: center;
    padding: 5px;
}

table {
    
    border: 1px solid;

}
.mas-menos{
    border: solid 0.5px;
    margin: 1px 1px;
    cursor: pointer;
    padding: 3px;
}
/*.cantidad-producto-carrito{*/
    /*display: flex; /*No se como dejar a mas, cantidad y menos en la misma linea */
    /*flex-wrap: wrap;*/

/*}*/

